{% extends 'base.html' %}


{% block content %}
<h1>Contact</h1>

<style>
  .email {
    color: lightsalmon; /* Change email color */
    font-weight: bold; /* Optional */
  }
  .phone {
    color: lightgreen ; /* Change phone number color */
    font-weight: bold; /* Optional */
  }
</style>

<p>Thank you for accessing my collection.</p>
<p>If you want to share your ideas or need more details, please email me at:
   <span class="email">anaarebarba@hotmail.com</span>, or</p>
<p>Call me at <span class="phone">+04784848232</span> (Whatsapp available)</p>





{% endblock %}